body {
	background: #2c2c2c;
	color: #CCC;
}

body, select {
	font: 12px "Roboto", Georgia, serif;
}

h1,h2,h3,h4,h5,h6,strong {
	color: #FFF;
}

.logo-link {
	text-align: center;
	margin-top: 30px;
}

.center {
    padding: 0;
    display: block;
    margin: 20px auto;
}

.column {
	float: left;
	width: 50%;
}

.important {
	background-color: #444;
	padding: 10px;
}

#entrance-list div, #door-list div, #soul-list div {
	margin-bottom: 5px;
}

#entrance-list select {
	width: 250px;
	margin-left: 10px;
}

#entrance-list label {
	display: inline-block;
	width: 275px;
	text-align: left;
	margin-left: 10px;
}

#soul-list select {
	width: 210px;
	margin-left: 10px;
}

#soul-list select.soulcount {
	width: 40px;
	margin-left: 0;
}

#soul-list label {
	display: inline-block;
	width: 275px;
	text-align: left;
	margin-left: 10px;
}

#door-list div {
	display: flex;
	align-items: center;
	height: 20px;
}

#door-list label {
	display: inline-block;
	width: 50px;
	text-align: right;
	margin-right: 10px;
}

#door-list label img + img {
	padding-left: 5px;
}

#door-list select {
	width: 225px;
	margin-left: 5px;
}

select option.used {
	color: #CCCCCC;
}

.oneway select {
	background: #999999;
	color: #000000;
}

.oneway label {
	color: #CC3333;
}

.icon {
	display: none;
	padding-left: 3px;
	color: red;
}

.accessible .icon {
	display: inline-block;
}

.note {
	color: #999999;
}

li {
	margin-bottom: 5px;
}

.via-path {
	margin-top: 5px;
	opacity: 0.45;
}

#unfound-doors-list li {
	max-height: 17px;
	vertical-align: middle;
}

#unfound-doors-list li.strike {
	text-decoration: line-through;
	opacity: 0.15;
}

#notes {
	width: 500px;
}
